body.start{
    background-image: url('/img/fantasy_game_title_screen_showing_a_glowing_time_portal_surrounded_by_floating_clocks_and_symbols_m_quuz0h6mjff895amajzv_1.png');
    background-size: cover;
}

body.pagetwo{
    background-image: url('/img/dark_mysterious_room_with_three_large_fantasy_doors__one_with_ancient_runes_glowing_gold_one_metall_272hu4o8y14vbjqjbad6_2.png');
    background-size: cover;
}